<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jaat.coffeesociety">

    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher_round"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity
            android:name=".Menu"
            android:label="@string/app_name"
            android:theme="@style/AppTheme.NoActionBar">
            <intent-filter android:label="@string/app_name">
                <action android:name="android.intent.action.MAIN" />
                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".InicioFragment"
            android:label="@string/title_activity_inicio"
            android:theme="@style/AppTheme.NoActionBar">

        </activity>
        <activity
            android:name=".InformacionFragment"
            android:label="@string/title_activity_informacion" />
        <activity
            android:name=".OrdenarFragment"
            android:label="@string/title_activity_ordenar"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity android:name=".OrdenesFragment" />
        <activity
            android:name=".PerfilFragment"
            android:label="@string/title_activity_perfil"
            android:theme="@style/AppTheme.NoActionBar" />
        <activity
            android:name=".ContactenosFragment"
            android:label="@string/title_activity_contactenos" />
        <activity
            android:name=".ConfiguracionFragment"
            android:label="@string/title_activity_configuracion" />
    </application>

</manifest>